<div class="jumbotron">
    <h1>Congratulations!</h1>
    <p class="lead">Your quote for auto insurance from Academy Auto Insurance has been approved.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="container-fluid">
    <div class="row">
        <span>Your proposed monthly rate is $@ViewBag.QuotedCost</span>
    </div>
</div>